<template>
	<div id="app">
    <div class="control">
      <h1>Simple TA3</h1>
      <div class="hello buttons">
        <div class="button do">
          <button type="button" @click="doHello" :disabled="helloActive">Hello</button>
          <div class="bar" :class="{'bar-animation': helloActive}"></div>
        </div>
        <div class="button clear">
          <button type="button" @click="helloMessages = []" :disabled="!helloMessages.length" title="Clear">X</button>
        </div>
      </div>
      <div class="list-primitives buttons">
        <div class="button do">
          <button type="button" @click="doListPrimitives" :disabled="listPrimitivesActive">List primitives</button>
          <div class="bar" :class="{'bar-animation': listPrimitivesActive}"></div>
        </div>
        <div class="button clear">
          <button type="button" @click="listPrimitivesMessages = []" :disabled="!listPrimitivesMessages.length" title="Clear">X</button>
        </div>
      </div>
      <div class="run buttons">
        <div class="button do">
          <button type="button" @click="doRun" :disabled="runActive">Run pipeline</button>
          <div class="bar" :class="{'bar-animation': runActive}"></div>
        </div>
        <div class="button clear">
          <button type="button" @click="runMessages = []" :disabled="!runMessages.length" title="Clear">X</button>
        </div>
      </div>
      <div class="search buttons">
        <div class="button do">
          <button type="button" @click="doSearch" :disabled="searchActive">Search solutions</button>
          <div class="bar" :class="{'bar-animation': searchActive}"></div>
        </div>
        <div class="button clear">
          <button type="button" @click="searchMessages = []" :disabled="!searchMessages.length" title="Clear">X</button>
        </div>
      </div>
      <div v-if="solutionId" class="describe buttons">
        <div class="button do">
          <button type="button" @click="doDescribe" :disabled="describeActive">Describe solution</button>
          <div class="bar" :class="{'bar-animation': describeActive}"></div>
        </div>
        <div class="button clear">
          <button type="button" @click="describeMessages = []" :disabled="!describeMessages.length" title="Clear">X</button>
        </div>
      </div>
      <div v-if="solutionId" class="score-holdout buttons">
        <div class="button do">
          <button type="button" @click="doScoreHoldout" :disabled="scoreHoldoutActive">Score solution using holdout</button>
          <div class="bar" :class="{'bar-animation': scoreHoldoutActive}"></div>
        </div>
        <div class="button clear">
          <button type="button" @click="scoreHoldoutMessages = []" :disabled="!scoreHoldoutMessages.length" title="Clear">X</button>
        </div>
      </div>
      <div v-if="solutionId" class="score-kfold buttons">
        <div class="button do">
          <button type="button" @click="doScoreKFold" :disabled="scoreKFoldActive">Score solution using k-fold</button>
          <div class="bar" :class="{'bar-animation': scoreKFoldActive}"></div>
        </div>
        <div class="button clear">
          <button type="button" @click="scoreKFoldMessages = []" :disabled="!scoreKFoldMessages.length" title="Clear">X</button>
        </div>
      </div>
      <div v-if="solutionId" class="fit buttons">
        <div class="button do">
          <button type="button" @click="doFit" :disabled="fitActive" >Fit solution</button>
          <div class="bar" :class="{'bar-animation': fitActive}"></div>
        </div>
        <div class="button clear">
          <button type="button" @click="fitMessages = []" :disabled="!fitMessages.length" title="Clear">X</button>
        </div>
      </div>
      <div v-if="solutionId" class="export buttons">
        <div class="button do">
          <button type="button" @click="doExport" :disabled="exportActive" >Export solution</button>
          <div class="bar" :class="{'bar-animation': exportActive}"></div>
        </div>
        <div class="button clear">
          <button type="button" @click="exportMessages = []" :disabled="!exportMessages.length" title="Clear">X</button>
        </div>
      </div>
      <div v-if="fittedSolutionId" class="produce buttons">
        <div class="button do">
          <button type="button" @click="doProduce" :disabled="produceActive" >Produce solution</button>
          <div class="bar" :class="{'bar-animation': produceActive}"></div>
        </div>
        <div class="button clear">
          <button type="button" @click="produceMessages = []" :disabled="!produceMessages.length" title="Clear">X</button>
        </div>
      </div>
    </div>
    <div class="all-messages">
      <Messages v-if="helloMessages.length" :messages="helloMessages" class="hello" />
      <Messages v-if="listPrimitivesMessages.length" :messages="listPrimitivesMessages" class="list-primitives" />
      <Messages v-if="runMessages.length" :messages="runMessages" class="run" />
      <Messages v-if="searchMessages.length" :messages="searchMessages" class="search" />
      <Messages v-if="solutionId && describeMessages.length" :messages="describeMessages" class="describe" />
      <Messages v-if="solutionId && scoreHoldoutMessages.length" :messages="scoreHoldoutMessages" class="score-holdout" />
      <Messages v-if="solutionId && scoreKFoldMessages.length" :messages="scoreKFoldMessages" class="score-kfold" />
      <Messages v-if="solutionId && fitMessages.length" :messages="fitMessages" class="fit" />
      <Messages v-if="solutionId && exportMessages.length" :messages="exportMessages" class="export" />
      <Messages v-if="fittedSolutionId && produceMessages.length" :messages="produceMessages" class="produce" />
    </div>
	</div>
</template>

<script>
  import * as csvParse from 'csv-parse';
  import * as deepEqual from 'deep-equal';
  import {Timestamp} from 'google-protobuf/google/protobuf/timestamp_pb';
  import {Map as ProtoMap} from 'google-protobuf';
  import * as uuidv4 from 'uuid/v4';

  import {HelloRequest, ListPrimitivesRequest, SearchSolutionsRequest, GetSearchSolutionsResultsRequest, ProgressState, DescribeSolutionRequest, ScoringConfiguration, EvaluationMethod, ScoreSolutionRequest, GetScoreSolutionResultsRequest, FitSolutionRequest, GetFitSolutionResultsRequest, ProduceSolutionRequest, GetProduceSolutionResultsRequest, SolutionExportRequest, StopSearchSolutionsRequest} from '../lib/core_pb';
  import {Value, ValueType, NullValue, ValueRaw, ValueList, ValueDict} from '../lib/value_pb';
  import {ProblemDescription, Problem, ProblemInput, TaskKeyword, ProblemPerformanceMetric, PerformanceMetric, ProblemTarget} from '../lib/problem_pb';
  import {PipelineContext, PipelineDescriptionInput, PipelineDescriptionOutput, Primitive, StepOutput, PrimitivePipelineDescriptionStep, ContainerArgument, ValueArgument, PipelineDescriptionStep, PipelineDescription, PrimitiveStepArgument, PrimitiveStepHyperparameter} from '../lib/pipeline_pb';

  import Messages from './Messages';

  const TYPE_REGEX = /\/\*\*\s*@type\s*{[?!]?([^}]+)}\s*\*\//;
  const ARRAY_REGEX = /^Array.<[?!]?([^}]+)>$/;

  const ENUMERATIONS = new Map();
  ENUMERATIONS.set('EvaluationMethod', EvaluationMethod);
  ENUMERATIONS.set('ProgressState', ProgressState);
  ENUMERATIONS.set('PipelineContext', PipelineContext);
  ENUMERATIONS.set('TaskKeyword', TaskKeyword);
  ENUMERATIONS.set('PerformanceMetric', PerformanceMetric);
  ENUMERATIONS.set('ValueType', ValueType);
  ENUMERATIONS.set('NullValue', NullValue);

  // A function which returns a promise waiting for the stream to finish.
  // It is not "async" but you can still "await" the returned promise.
  // TODO: This might not yet be perfect. See: https://github.com/grpc/grpc-web/issues/289
  function waitForStream(stream) {
    return new Promise((resolve, reject) => {
      // Status is sent at the end of the stream.
      stream.on('status', (status) => {
        if (status.code === 0) {
          resolve();
        }
        else {
          reject({code: status.code, details: status.details});
        }
      });
      stream.on('error', (error) => {
        reject(error);
      });
    });
  }

  // Obtains a (more human friendly) name for the (numeric) value of the enumeration.
  function enumerationName(enumeration, value) {
    for (const [enumName, enumValue] of Object.entries(enumeration)) {
      if (enumValue === value) {
        return enumName;
      }
    }

    console.warn("Cannot find enumeration name for value in enumeration.", value, enumeration);

    return value;
  }

  // Converts JavaScript value into a GRPC message of "RAW" value type.
  function encodeRawValue(value) {
    const grpcValue = new ValueRaw();

    if (value === null) {
      grpcValue.setNull(NullValue.NULL_VALUE);
    }
    else if (typeof value === 'number') {
      if (Math.trunc(value) === value) {
        grpcValue.setInt64(value);
      }
      else {
        grpcValue.setDouble(value);
      }
    }
    else if (typeof value === 'boolean') {
      grpcValue.setBool(value);
    }
    else if (typeof value === 'string') {
      grpcValue.setString(value);
    }
    else if (value instanceof Uint8Array) {
      grpcValue.setBytes(value);
    }
    else if (Array.isArray(value)) {
      const list = new ValueList();
      list.setItemsList(value.map(encodeRawValue));
      grpcValue.setList(list);
    }
    else if (typeof value === 'object' && value.constructor === Object) {
      const dict = new ValueDict();
      const map = dict.getItemsMap();
      for (const [key, val] of Object.entries(value)) {
        map.set(key, encodeRawValue(val));
      }
      grpcValue.setDict(dict);
    }
    else {
      throw new Error("Cannot encode value as raw value.", value);
    }

    return grpcValue;
  }

  // Converts a GRPC message of "RAW" value type into a JavaScript value.
  function decodeRawValue(grpcValue) {
    switch (grpcValue.getRawCase()) {
      case ValueRaw.RawCase.NULL:
        return "null";
      case ValueRaw.RawCase.DOUBLE:
        return grpcValue.getDouble();
      case ValueRaw.RawCase.INT64:
        return grpcValue.getInt64();
      case ValueRaw.RawCase.BOOL:
        return grpcValue.getBool();
      case ValueRaw.RawCase.STRING:
        return JSON.stringify(grpcValue.getString());
      case ValueRaw.RawCase.BYTES:
        return JSON.stringify(grpcValue.getBytes());
      case ValueRaw.RawCase.LIST:
        return grpcValue.getList().getItemsList().map(decodeRawValue);
      case ValueRaw.RawCase.DICT:
        const obj = {};
        for (const [key, value] of grpcValue.getDict().getItemsMap().entries()) {
          obj[key] = decodeRawValue(value);
        }
        return obj;
      default:
        throw new Error("Unknown raw value case.");
    }
  }

  // A "toObject" helper which cleans up the object returned by the "toObject"
  // method of GRPC messages, to make it nicer when being display in the web
  // interface. "grpcValue" is the original GRPC message and "value"
  // is "toObject" conversion of that message.
  function cleanup(grpcValue, value) {
    if (grpcValue instanceof Timestamp) {
      value = grpcValue.toDate();
    }
    else if (grpcValue instanceof ValueRaw) {
      value = decodeRawValue(grpcValue);
    }
    else if (grpcValue instanceof ProtoMap) {
      const newValue = {};
      for (const [key, val] of value) {
        newValue[key] = cleanup(grpcValue.get(key), val);
      }
      value = newValue;
    }
    else if (typeof value === 'object' && value.constructor === Object) {
      // We first make a copy to not modify input argument.
      value = Object.assign({}, value);

      for (let [key, val] of Object.entries(value)) {
        // "toObject" escapes some keys with "pb_" prefix, we unescape it here.
        if (key.startsWith('pb_')) {
          delete value[key];
          key = key.substring(3);
          value[key] = val;
        }

        const fieldName = key[0].toUpperCase() + key.substring(1);
        const hasMethodName = `has${fieldName}`;
        const getMethodName = `get${fieldName}`;
        if (grpcValue[hasMethodName] && !grpcValue[hasMethodName]()) {
          // We remove keys for unset values (like unset value for "oneof");
          delete value[key];
        }
        else {
          // JavaScript source code for GRPC getters contain typing comment
          // which we can use to determine which enumeration the value is
          // (or array of enumerations).
          const methodSource = grpcValue[getMethodName].toString();
          const typeMatch = TYPE_REGEX.exec(methodSource);
          let isArray = false;
          let enumeration = null;

          if (typeMatch) {
            let typeName = typeMatch[1];
            const subTypeMatch = ARRAY_REGEX.exec(typeName);
            if (subTypeMatch) {
              typeName = subTypeMatch[1];
              isArray = true;
            }

            if (typeName.startsWith('proto.')) {
              enumeration = ENUMERATIONS.get(typeName.substring(6)) || null;
            }
          }
          else {
            console.warn(`Cannot get return type for method '${getMethodName}'.`);
          }

          if (enumeration !== null) {
            if (isArray) {
              value[key] = val.map((v) => enumerationName(enumeration, v));
            }
            else {
              value[key] = enumerationName(enumeration, val);
            }
          }
          else {
            value[key] = cleanup(grpcValue[getMethodName](), val);
          }
        }
      }
    }
    else if (Array.isArray(value)) {
      value = value.map((val, index) => cleanup(grpcValue[index], val));
    }
    else if (typeof value === 'string') {
      // We encode string as JSON to add quotes.
      value = JSON.stringify(value);
    }

    return value;
  }

  // Converts a GRPC message into a JavaScript friendly object.
  // GRPC messages have "toObject" method already but the conversion is not as
  // nice as it could be, especially for display purposes in the web interface.
  // So we use "cleanup" function to clean up the object.
  function toObject(grpcObject) {
    const object = grpcObject.toObject();

    return cleanup(grpcObject, object);
  }

  // For values which are not coming from GRPC, we want to make them look
  // the same by also encoding strings as JSON to add quotes.
  function encodeStrings(value) {
    if (typeof value === 'object' && value.constructor === Object) {
      for (const [key, val] of Object.entries(value)) {
        value[key] = encodeStrings(val);
      }
    }
    else if (Array.isArray(value)) {
      for (const [index, val] of value.entries()) {
        value[index] = encodeStrings(val);
      }
    }
    else if (typeof value === 'string') {
      // We encode string as JSON to add quotes.
      value = JSON.stringify(value);
    }

    return value;
  }

  // TODO: Generalize this into a converter from JSON representation of a pipeline to GRPC message.
  //       Currently this returns a hard-coded pipeline.
  //       It is equivalent to "increment-dataframe.yml" pipeline in tests-data.
  function getPipeline() {
    const created = new Timestamp();
    created.setSeconds(1538967405);
    created.setNanos(277695000);

    const input = new PipelineDescriptionInput();
    input.setName('dataframe');

    const output = new PipelineDescriptionOutput();
    output.setData('steps.2.produce');

    let primitive;
    let argumentsMap;
    let hyperparamsMap;
    let primitiveDescription;
    let stepOutput;
    let argument;
    let stepArgument;
    let value;

    primitive = new Primitive();
    primitive.setId('d7e14b12-abeb-42d8-942f-bdb077b4fd37');
    primitive.setVersion('0.1.0');
    primitive.setPythonPath('d3m.primitives.data_transformation.add_semantic_types.DataFrameCommon');
    primitive.setName('Add semantic types to columns');

    stepOutput = new StepOutput();
    stepOutput.setId('produce');

    primitiveDescription = new PrimitivePipelineDescriptionStep();
    primitiveDescription.setPrimitive(primitive);
    primitiveDescription.setOutputsList([stepOutput]);
    argumentsMap = primitiveDescription.getArgumentsMap();
    hyperparamsMap = primitiveDescription.getHyperparamsMap();

    argument = new ContainerArgument();
    argument.setData('inputs.0');
    stepArgument = new PrimitiveStepArgument();
    stepArgument.setContainer(argument);
    argumentsMap.set('inputs', stepArgument);

    value = new Value();
    value.setRaw(encodeRawValue([0]));
    argument = new ValueArgument();
    argument.setData(value);
    stepArgument = new PrimitiveStepHyperparameter();
    stepArgument.setValue(argument);
    hyperparamsMap.set('columns', stepArgument);

    value = new Value();
    value.setRaw(encodeRawValue(['http://schema.org/Integer']));
    argument = new ValueArgument();
    argument.setData(value);
    stepArgument = new PrimitiveStepHyperparameter();
    stepArgument.setValue(argument);
    hyperparamsMap.set('semantic_types', stepArgument);

    const stepAddSemanticTypes = new PipelineDescriptionStep();
    stepAddSemanticTypes.setPrimitive(primitiveDescription);

    primitive = new Primitive();
    primitive.setId('d510cb7a-1782-4f51-b44c-58f0236e47c7');
    primitive.setVersion('0.5.0');
    primitive.setPythonPath('d3m.primitives.data_transformation.column_parser.DataFrameCommon');
    primitive.setName('Parses strings into their types');

    stepOutput = new StepOutput();
    stepOutput.setId('produce');

    primitiveDescription = new PrimitivePipelineDescriptionStep();
    primitiveDescription.setPrimitive(primitive);
    primitiveDescription.setOutputsList([stepOutput]);
    argumentsMap = primitiveDescription.getArgumentsMap();

    argument = new ContainerArgument();
    argument.setData('steps.0.produce');
    stepArgument = new PrimitiveStepArgument();
    stepArgument.setContainer(argument);
    argumentsMap.set('inputs', stepArgument);

    const stepColumnParser = new PipelineDescriptionStep();
    stepColumnParser.setPrimitive(primitiveDescription);

    primitive = new Primitive();
    primitive.setId('5c9d5acf-7754-420f-a49f-90f4d9d0d694');
    primitive.setVersion('0.1.0');
    primitive.setPythonPath('d3m.primitives.operator.increment.Test');
    primitive.setName('Increment Values');

    stepOutput = new StepOutput();
    stepOutput.setId('produce');

    primitiveDescription = new PrimitivePipelineDescriptionStep();
    primitiveDescription.setPrimitive(primitive);
    primitiveDescription.setOutputsList([stepOutput]);
    argumentsMap = primitiveDescription.getArgumentsMap();

    argument = new ContainerArgument();
    argument.setData('steps.1.produce');
    stepArgument = new PrimitiveStepArgument();
    stepArgument.setContainer(argument);
    argumentsMap.set('inputs', stepArgument);

    const stepIncrement = new PipelineDescriptionStep();
    stepIncrement.setPrimitive(primitiveDescription);

    const pipeline = new PipelineDescription();
    pipeline.setId('1b6184c1-49ba-44f8-b02d-90fb41e65e1a');
    pipeline.setCreated(created);
    pipeline.setContext(PipelineContext.TESTING);
    pipeline.setInputsList([input]);
    pipeline.setOutputsList([output]);
    pipeline.setStepsList([stepAddSemanticTypes, stepColumnParser, stepIncrement]);

    return pipeline;
  }

  // A test to check valid output. This is very specific to the pipeline used
  // and not a general function.
  function checkOutput(output) {
    if (!Array.isArray(output)) {
      return false;
    }

    if (output.length !== 4) {
      return false;
    }

    // Depending how you pass default "increment" hyper-parameter to the primitive,
    // it could be of type "float" and "int". Older versions of the primitive
    // returned then output corresponding to this type. (Newer always return "float".)
    return deepEqual(output.slice(1), [['1.0'], ['2.0'], ['43.0']], {strict: true}) || deepEqual(output.slice(1), [['1'], ['2'], ['43']], {strict: true});
  }

  async function stopSearch(client, messages, searchId) {
    try {
      const request = new StopSearchSolutionsRequest();
      request.setSearchId(searchId);

      messages.push({name: 'StopSearchSolutionsRequest', request: true, data: toObject(request)});
      const response = await client.stopSearchSolutions(request, {});
      messages.push({name: 'StopSearchSolutionsResponse', response: true, data: toObject(response)});
    }
    catch (error) {
      // We ignore any error.
    }
  }

  // A general "search solutions" call which returns one of the found solutions.
  async function search(client, messages, input, problemDescription, template, time_bound_search) {
    let searchId = null;
    try {
      // TODO: Pass real version based on GRPC files we use, once it is supported in grpc-web.
      //       See: https://github.com/grpc/grpc-web/issues/307
      const version = 'unknown';

      const request = new SearchSolutionsRequest();
      request.setUserAgent('Simple TA3');
      request.setVersion(version);
      request.setAllowedValueTypesList([
        ValueType.RAW,
        ValueType.CSV_URI,
      ]);
      request.setInputsList([input]);
      if (problemDescription) {
        request.setProblem(problemDescription);
      }
      if (template) {
        request.setTemplate(template);
      }
      if (time_bound_search) {
        request.setTimeBoundSearch(time_bound_search);
      }

      messages.push({name: 'SearchSolutionsRequest', request: true, data: toObject(request)});
      const response = await client.searchSolutions(request, {});
      messages.push({name: 'SearchSolutionsResponse', response: true, data: toObject(response)});
      searchId = response.getSearchId();
    }
    catch (error) {
      messages.push({error: true, data: encodeStrings(error)});
      return null;
    }

    let stream = null;
    try {
      const request = new GetSearchSolutionsResultsRequest();
      request.setSearchId(searchId);

      messages.push({name: 'GetSearchSolutionsResultsRequest', request: true, data: toObject(request)});
      stream = client.getSearchSolutionsResults(request, {});
    }
    catch (error) {
      messages.push({error: true, data: encodeStrings(error)});
      return null;
    }

    const solutionIds = new Set();
    let stopTimestamp = null;
    stream.on('data', (response) => {
      if (response.getProgress().getState() === ProgressState.ERRORED) {
        messages.push({name: 'GetSearchSolutionsResultsResponse', response: true, error: true, data: toObject(response)});
      }
      else {
        messages.push({name: 'GetSearchSolutionsResultsResponse', response: true, data: toObject(response)});

        const solutionId = response.getSolutionId();
        if (solutionId) {
          solutionIds.add(solutionId);

          if (stopTimestamp === null) {
            // We want only the first solution, so we can stop the search here.
            stopSearch(client, messages, searchId);
            stopTimestamp = new Date().valueOf();
          }
        }
      }
    });

    try {
      await waitForStream(stream);
    }
    catch (error) {
      messages.push({error: true, data: encodeStrings(error)});
      return null;
    }

    if (messages.some((message) => message.error)) {
      return null;
    }

    if (!solutionIds.size) {
      messages.push({error: true, data: encodeStrings({result: 'no solutions'})});
      return null;
    }

    if (stopTimestamp !== null && new Date().valueOf() - stopTimestamp > 60 * 1000) {
      messages.push({error: true, data: encodeStrings({result: 'search continued after stopping it'})});
      return null;
    }

    // TODO: Check if progression of streaming states was OK.

    return solutionIds.values().next().value;
  }

  // A general "fit solution" call which returns the fitted solution ID
  // and the value of the "outputs.0".
  async function fit(client, messages, solutionId, input) {
    let requestId = null;
    try {
      const request = new FitSolutionRequest();
      request.setSolutionId(solutionId);
      request.setInputsList([input]);
      request.setExposeOutputsList(['outputs.0']);

      messages.push({name: 'FitSolutionRequest', request: true, data: toObject(request)});
      const response = await client.fitSolution(request, {});
      messages.push({name: 'FitSolutionResponse', response: true, data: toObject(response)});
      requestId = response.getRequestId();
    }
    catch (error) {
      messages.push({error: true, data: encodeStrings(error)});
      return null;
    }

    let stream = null;
    try {
      const request = new GetFitSolutionResultsRequest();
      request.setRequestId(requestId);

      messages.push({name: 'GetFitSolutionResultsRequest', request: true, data: toObject(request)});
      stream = client.getFitSolutionResults(request, {});
    }
    catch (error) {
      messages.push({error: true, data: encodeStrings(error)});
      return null;
    }

    let fittedSolutionId = null;
    let exposedOutput = null;
    stream.on('data', (response) => {
      if (response.getProgress().getState() === ProgressState.ERRORED) {
        messages.push({name: 'GetFitSolutionResultsResponse', response: true, error: true, data: toObject(response)});
      }
      else {
        messages.push({name: 'GetFitSolutionResultsResponse', response: true, data: toObject(response)});

        fittedSolutionId = response.getFittedSolutionId();
        exposedOutput = response.getExposedOutputsMap().get('outputs.0');
      }
    });

    try {
      await waitForStream(stream);
    }
    catch (error) {
      messages.push({error: true, data: encodeStrings(error)});
      return null;
    }

    if (messages.some((message) => message.error)) {
      return null;
    }

    if (!fittedSolutionId) {
      messages.push({error: true, data: encodeStrings({result: 'no fitted solution ID'})});
      return null;
    }

    if (!exposedOutput) {
      messages.push({error: true, data: encodeStrings({result: 'no exposed output'})});
      return null;
    }

    // TODO: Check if progression of streaming states was OK.

    return [fittedSolutionId, exposedOutput];
  }

  // A general "produce fitted solution" call which returns the value of the "outputs.0".
  async function produce(client, messages, fittedSolutionId, input) {
    let requestId = null;
    try {
      const request = new ProduceSolutionRequest();
      request.setFittedSolutionId(fittedSolutionId);
      request.setInputsList([input]);
      request.setExposeOutputsList(['outputs.0']);

      messages.push({name: 'ProduceSolutionRequest', request: true, data: toObject(request)});
      const response = await client.produceSolution(request, {});
      messages.push({name: 'ProduceSolutionResponse', response: true, data: toObject(response)});
      requestId = response.getRequestId();
    }
    catch (error) {
      messages.push({error: encodeStrings(error)});
      return null;
    }

    let stream = null;
    try {
      const request = new GetProduceSolutionResultsRequest();
      request.setRequestId(requestId);

      messages.push({name: 'GetProduceSolutionResultsRequest', request: true, data: toObject(request)});
      stream = client.getProduceSolutionResults(request, {});
    }
    catch (error) {
      messages.push({error: true, data: encodeStrings(error)});
      return null;
    }

    let exposedOutput = null;
    stream.on('data', (response) => {
      if (response.getProgress().getState() === ProgressState.ERRORED) {
        messages.push({name: 'GetProduceSolutionResultsResponse', response: true, error: true, data: toObject(response)});
      }
      else {
        messages.push({name: 'GetProduceSolutionResultsResponse', response: true, data: toObject(response)});

        exposedOutput = response.getExposedOutputsMap().get('outputs.0');
      }
    });

    try {
      await waitForStream(stream);
    }
    catch (error) {
      messages.push({error: true, data: encodeStrings(error)});
      return null;
    }

    if (messages.some((message) => message.error)) {
      return null;
    }

    if (!exposedOutput) {
      messages.push({error: true, data: encodeStrings({result: 'no exposed output'})});
      return null;
    }

    // TODO: Check if progression of streaming states was OK.

    return exposedOutput;
  }

  // Downloads CSV URI, or converts "RAW" value.
  async function getExposedOutput(exposedOutput, expectRaw) {
    if (exposedOutput.hasCsvUri()) {
      const uri = exposedOutput.getCsvUri();
      if (!uri.startsWith('file://')) {
        throw new Error(`Unsupported URI scheme for exposed output: '${uri}'`);
      }
      const response = await fetch(uri.substring(7));
      if (!response.ok) {
        throw new Error(`Could not fetch exposed output: '${uri}'`);
      }
      return new Promise((resolve, reject) => {
        const parser = csvParse({}, (error, records) => {
          if (error) {
            reject(error);
          }
          else {
            resolve(records);
          }
        });
        // If the browser has streaming support.
        if (response.body) {
          const reader = response.body.getReader();
          const decoder = new TextDecoder('utf8');
          function pump() {
            return reader.read().then(({done, value}) => {
              if (done) {
                parser.end();
                return;
              }
              else {
                parser.write(decoder.decode(value));
                return pump();
              }
            }).catch((error) => {
              reject(error);
            });
          }
          pump();
        }
        else {
          response.text().then((text) => {
            parser.write(text);
            parser.end();
          }).catch((error) => {
            reject(error);
          });
        }
      });
    }
    else if (expectRaw && exposedOutput.hasRaw()) {
      return decodeRawValue(exposedOutput.getRaw());
    }
    else if (exposedOutput.hasError()) {
      throw new Error(`Exposed output error: ${exposedOutput.getError().getMessage()}`);
    }
    else {
      throw new Error(`Unexpected exposed output type: ${enumerationName(Value.ValueCase, exposedOutput.getValueCase())}`);
    }
  }

  export default {
    components: {
      Messages,
    },

    data() {
      return {
        helloActive: false,
        helloMessages: [],
        listPrimitivesActive: false,
        listPrimitivesMessages: [],
        runActive: false,
        runMessages: [],
        searchActive: false,
        searchMessages: [],
        solutionId: null,
        describeActive: false,
        describeMessages: [],
        scoreHoldoutActive: false,
        scoreHoldoutMessages: [],
        scoreKFoldActive: false,
        scoreKFoldMessages: [],
        fitActive: false,
        fitMessages: [],
        fittedSolutionId: null,
        exportActive: false,
        exportMessages: [],
        produceActive: false,
        produceMessages: [],
      };
    },

    created() {
      this.ValueType = ValueType;
    },

    methods: {
      async doHello() {
        this.helloMessages = [];
        this.helloActive = true;

        try {
          let allowedValueTypes = null;
          try {
            const request = new HelloRequest();

            this.helloMessages.push({name: 'HelloRequest', request: true, data: toObject(request)});
            const response = await this.$client.hello(request, {});
            this.helloMessages.push({name: 'HelloResponse', response: true, data: toObject(response)});
            allowedValueTypes = response.getAllowedValueTypesList();
          }
          catch (error) {
            this.helloMessages.push({error: true, data: encodeStrings(error)});
            return;
          }

          if (!allowedValueTypes) {
            this.helloMessages.push({error: true, data: encodeStrings({result: 'no allowed value types'})});
            return;
          }

          if (!allowedValueTypes.includes(ValueType.RAW)) {
            this.helloMessages.push({error: true, data: encodeStrings({result: 'required value type RAW is not supported'})});
            return;
          }
          if (!allowedValueTypes.includes(ValueType.DATASET_URI)) {
            this.helloMessages.push({error: true, data: encodeStrings({result: 'required value type DATASET_URI is not supported'})});
            return;
          }
          if (!allowedValueTypes.includes(ValueType.CSV_URI)) {
            this.helloMessages.push({error: true, data: encodeStrings({result: 'required value type CSV_URI is not supported'})});
            return;
          }

          this.helloMessages.push({success: true, data: encodeStrings({result: 'success'})});
        }
        finally {
          this.helloActive = false;
        }
      },

      async doListPrimitives() {
        this.listPrimitivesMessages = [];
        this.listPrimitivesActive = true;

        try {
          try {
            const request = new ListPrimitivesRequest();

            this.listPrimitivesMessages.push({name: 'ListPrimitivesRequest', request: true, data: toObject(request)});
            const response = await this.$client.listPrimitives(request, {});
            this.listPrimitivesMessages.push({name: 'ListPrimitivesResponse', response: true, data: toObject(response)});
          }
          catch (error) {
            this.listPrimitivesMessages.push({error: true, data: encodeStrings(error)});
            return;
          }

          // TODO: Check that there are required primitives available.
          this.listPrimitivesMessages.push({success: true, data: encodeStrings({result: 'success'})});
        }
        finally {
          this.listPrimitivesActive = false;
        }
      },

      async doRun() {
        this.runMessages = [];
        this.runActive = true;

        try {
          const fileId = uuidv4();

          try {
            await fetch(`${this.$config.outputDir}/tmp/upload/${fileId}.csv`, {
              method: 'PUT',
              body: 'index\n0\n1\n42',
            });
          }
          catch (error) {
            this.runMessages.push({error: true, data: encodeStrings(error)});
            return;
          }

          const input = new Value();
          input.setCsvUri(`file://${this.$config.outputDir}/tmp/upload/${fileId}.csv`);

          const solutionId = await search(this.$client, this.runMessages, input, null, getPipeline(), 5);
          if (!solutionId) {
            return;
          }

          const result = await fit(this.$client, this.runMessages, solutionId, input);
          if (!result) {
            return;
          }

          const [fittedSolutionId, exposedOutputFit] = result;

          const outputFit = await getExposedOutput(exposedOutputFit, false);

          if (!checkOutput(outputFit)) {
            this.runMessages.push({error: true, data: encodeStrings({result: 'exposed output does not match expected values', output: outputFit})});
            return;
          }

          // We do not really have to produce (we could just take outputs from fitting),
          // because pipeline is just transforming, but to test APIs we do.
          const exposedOutputProduce = await produce(this.$client, this.runMessages, fittedSolutionId, input);
          if (!exposedOutputProduce) {
            return;
          }

          const outputProduce = await getExposedOutput(exposedOutputProduce, false);

          if (!checkOutput(outputProduce)) {
            this.runMessages.push({error: true, data: encodeStrings({result: 'exposed output does not match expected values', output: outputProduce})});
            return;
          }

          this.runMessages.push({success: true, data: encodeStrings({result: 'success', output: outputProduce})});
        }
        finally {
          this.runActive = false;
        }
      },

      async doSearch() {
        this.searchMessages = [];
        this.solutionId = null;
        this.searchActive = true;

        try {
          const input = new Value();
          input.setDatasetUri(`file://${this.$config.inputDir}/seed_datasets_current/185_baseball/TRAIN/dataset_TRAIN/datasetDoc.json`);

          const performanceMetric = new ProblemPerformanceMetric();
          performanceMetric.setMetric(PerformanceMetric.F1_MACRO);

          const problem = new Problem();
          problem.setTaskKeywordsList([TaskKeyword.CLASSIFICATION, TaskKeyword.MULTICLASS]);
          problem.setPerformanceMetricsList([performanceMetric]);

          const target = new ProblemTarget();
          target.setTargetIndex(0);
          target.setResourceId('learningData');
          target.setColumnIndex(18);
          target.setColumnName('Hall_of_Fame');

          const problemInput = new ProblemInput();
          problemInput.setDatasetId('185_baseball_dataset_TRAIN');
          problemInput.setTargetsList([target]);

          const problemDescription = new ProblemDescription();
          problemDescription.setId('185_baseball_problem_TRAIN');
          problemDescription.setVersion('2.0');
          problemDescription.setName('NULL');
          problemDescription.setProblem(problem);
          problemDescription.setInputsList([problemInput]);

          const solutionId = await search(this.$client, this.searchMessages, input, problemDescription, null, 15);
          if (!solutionId) {
            return;
          }

          this.solutionId = solutionId;

          this.searchMessages.push({success: true, data: encodeStrings({result: 'success'})});
        }
        finally {
          this.searchActive = false;
        }
      },

      async doDescribe() {
        this.describeMessages = [];
        this.describeActive = true;

        try {
          try {
            const request = new DescribeSolutionRequest();
            request.setSolutionId(this.solutionId);

            this.describeMessages.push({name: 'DescribeSolutionRequest', request: true, data: toObject(request)});
            const response = await this.$client.describeSolution(request, {});
            this.describeMessages.push({name: 'DescribeSolutionResponse', response: true, data: toObject(response)});
          }
          catch (error) {
            this.describeMessages.push({error: true, data: encodeStrings(error)});
            return;
          }

          this.describeMessages.push({success: true, data: encodeStrings({result: 'success'})});
        }
        finally {
          this.describeActive = false;
        }
      },

      async doScoreHoldout() {
        this.scoreHoldoutMessages = [];
        this.scoreHoldoutActive = true;

        try {
          let requestId = null;
          try {
            const input = new Value();
            input.setDatasetUri(`file://${this.$config.inputDir}/seed_datasets_current/185_baseball/TRAIN/dataset_TRAIN/datasetDoc.json`);

            const metric = new ProblemPerformanceMetric();
            metric.setMetric(PerformanceMetric.ACCURACY);

            const configuration = new ScoringConfiguration();
            configuration.setMethod(EvaluationMethod.HOLDOUT);
            configuration.setTrainTestRatio(0.75);
            configuration.setShuffle(true);
            configuration.setRandomSeed(0);
            configuration.setStratified(false);

            const request = new ScoreSolutionRequest();
            request.setSolutionId(this.solutionId);
            request.setInputsList([input]);
            request.setPerformanceMetricsList([metric]);
            request.setConfiguration(configuration);

            this.scoreHoldoutMessages.push({name: 'ScoreSolutionRequest', request: true, data: toObject(request)});
            const response = await this.$client.scoreSolution(request, {});
            this.scoreHoldoutMessages.push({name: 'ScoreSolutionResponse', response: true, data: toObject(response)});
            requestId = response.getRequestId();
          }
          catch (error) {
            this.scoreHoldoutMessages.push({error: true, data: encodeStrings(error)});
            return;
          }

          let stream = null;
          try {
            const request = new GetScoreSolutionResultsRequest();
            request.setRequestId(requestId);

            this.scoreHoldoutMessages.push({name: 'GetScoreSolutionResultsRequest', request: true, data: toObject(request)});
            stream = this.$client.getScoreSolutionResults(request, {});
          }
          catch (error) {
            this.scoreHoldoutMessages.push({error: true, data: encodeStrings(error)});
            return;
          }

          stream.on('data', (response) => {
            if (response.getProgress().getState() === ProgressState.ERRORED) {
              this.scoreHoldoutMessages.push({name: 'GetScoreSolutionResultsResponse', response: true, error: true, data: toObject(response)});
            }
            else {
              this.scoreHoldoutMessages.push({name: 'GetScoreSolutionResultsResponse', response: true, data: toObject(response)});
            }
          });

          try {
            await waitForStream(stream);
          }
          catch (error) {
            this.scoreHoldoutMessages.push({error: true, data: encodeStrings(error)});
            return;
          }

          if (this.scoreHoldoutMessages.some((message) => message.error)) {
            return;
          }

          // TODO: Check if progression of streaming states was OK.
          // TODO: Check that there are scores we requested.
          this.scoreHoldoutMessages.push({success: true, data: encodeStrings({result: 'success'})});
        }
        finally {
          this.scoreHoldoutActive = false;
        }
      },

      async doScoreKFold() {
        this.scoreKFoldMessages = [];
        this.scoreKFoldActive = true;

        try {
          let requestId = null;
          try {
            const input = new Value();
            input.setDatasetUri(`file://${this.$config.inputDir}/seed_datasets_current/185_baseball/TRAIN/dataset_TRAIN/datasetDoc.json`);

            const metric1 = new ProblemPerformanceMetric();
            metric1.setMetric(PerformanceMetric.ACCURACY);

            const metric2 = new ProblemPerformanceMetric();
            metric2.setMetric(PerformanceMetric.F1_MICRO);

            const configuration = new ScoringConfiguration();
            configuration.setMethod(EvaluationMethod.K_FOLD);
            configuration.setFolds(10);
            configuration.setShuffle(false);
            configuration.setRandomSeed(0);
            configuration.setStratified(false);

            const request = new ScoreSolutionRequest();
            request.setSolutionId(this.solutionId);
            request.setInputsList([input]);
            request.setPerformanceMetricsList([metric1, metric2]);
            request.setConfiguration(configuration);

            this.scoreKFoldMessages.push({name: 'ScoreSolutionRequest', request: true, data: toObject(request)});
            const response = await this.$client.scoreSolution(request, {});
            this.scoreKFoldMessages.push({name: 'ScoreSolutionResponse', response: true, data: toObject(response)});
            requestId = response.getRequestId();
          }
          catch (error) {
            this.scoreKFoldMessages.push({error: true, data: encodeStrings(error)});
            return;
          }

          let stream = null;
          try {
            const request = new GetScoreSolutionResultsRequest();
            request.setRequestId(requestId);

            this.scoreKFoldMessages.push({name: 'GetScoreSolutionResultsRequest', request: true, data: toObject(request)});
            stream = this.$client.getScoreSolutionResults(request, {});
          }
          catch (error) {
            this.scoreKFoldMessages.push({error: true, data: encodeStrings(error)});
            return;
          }

          stream.on('data', (response) => {
            if (response.getProgress().getState() === ProgressState.ERRORED) {
              this.scoreKFoldMessages.push({name: 'GetScoreSolutionResultsResponse', response: true, error: true, data: toObject(response)});
            }
            else {
              this.scoreKFoldMessages.push({name: 'GetScoreSolutionResultsResponse', response: true, data: toObject(response)});
            }
          });

          try {
            await waitForStream(stream);
          }
          catch (error) {
            this.scoreKFoldMessages.push({error: true, data: encodeStrings(error)});
            return;
          }

          if (this.scoreKFoldMessages.some((message) => message.error)) {
            return;
          }

          // TODO: Check if progression of streaming states was OK.
          // TODO: Check that there are scores we requested.
          this.scoreKFoldMessages.push({success: true, data: encodeStrings({result: 'success'})});
        }
        finally {
          this.scoreKFoldActive = false;
        }
      },

      async doFit() {
        this.fitMessages = [];
        this.fitActive = true;

        try {
          const input = new Value();
          input.setDatasetUri(`file://${this.$config.inputDir}/seed_datasets_current/185_baseball/TRAIN/dataset_TRAIN/datasetDoc.json`);

          const result = await fit(this.$client, this.fitMessages, this.solutionId, input);
          if (!result) {
            return;
          }

          const [fittedSolutionId, exposedOutput] = result;

          this.fittedSolutionId = fittedSolutionId;

          // TODO: Check exposed outputs.
          this.fitMessages.push({success: true, data: encodeStrings({result: 'success'})});
        }
        finally {
          this.fitActive = false;
        }
      },

      async doProduce() {
        this.produceMessages = [];
        this.produceActive = true;

        try {
          const input = new Value();
          input.setDatasetUri(`file://${this.$config.inputDir}/seed_datasets_current/185_baseball/TEST/dataset_TEST/datasetDoc.json`);

          const exposedOutput = await produce(this.$client, this.produceMessages, this.fittedSolutionId, input);
          if (!exposedOutput) {
            return;
          }

          // TODO: Check exposed outputs.
          this.produceMessages.push({success: true, data: encodeStrings({result: 'success'})});
        }
        finally {
          this.produceActive = false;
        }
      },

      async doExport() {
        this.exportMessages = [];
        this.exportActive = true;

        try {
          try {
            const request = new SolutionExportRequest();
            request.setSolutionId(this.solutionId);
            request.setRank(1.0);

            this.exportMessages.push({name: 'SolutionExportRequest', request: true, data: toObject(request)});
            const response = await this.$client.solutionExport(request, {});
            this.exportMessages.push({name: 'SolutionExportResponse', response: true, data: toObject(response)});
          }
          catch (error) {
            this.exportMessages.push({error: true, data: encodeStrings(error)});
            return;
          }

          this.exportMessages.push({success: true, data: encodeStrings({result: 'success'})});
        }
        finally {
          this.exportActive = false;
        }
      },
    },
  };
</script>

<style>
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    font-family: sans-serif;
  }

  #app {
    display: flex;
    height: 100vh;
  }

  .control {
    flex: 0 0 300px;
    padding: 20px;
  }

  .control .buttons {
    display: flex;
  }

  .control button {
    height: 30px;
    width: 100%;
    border: none;
    background-color: rgb(221, 221, 221);
    transition-duration: 0.4s;
  }

  .control button:hover {
    background-color: rgb(201, 201, 201);
  }

  .control .button {
    margin-bottom: 10px;
    position: relative;
  }

  .control .button.do {
    flex: 1 0 auto;
    margin-right: 5px;
  }

  .all-messages {
    padding: 20px;
    flex: 1 1 auto;
    overflow: auto;
  }

  .bar {
    height: 3px;
    width: 20%;
    background-color: rgba(0, 0, 255, 0.4);
    position: absolute;
    bottom: 0;
    display: none;
  }

  .bar-animation {
    display: block;
    animation: bar 3s ease-in-out 0s infinite alternate both;
  }

  @keyframes bar {
    0% {
      left: 0;
    }
    100% {
      left: 80%;
    }
  }
</style>
